@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Welcome to MegaDesk 3.0 - Now with Razor!";
}
<h2>Welcome to the Megadesk web app. Please click an option on the navigation plane to continue.</h2>
